openapi: 3.0.1

info:

  title: OpenAPI Render API

  description: A sample API that demonstrates features in the OpenAPI specification

  license:

    name: MIT

  version: 1.0.0

servers:

  - url: https://api-services.jogg.ai/open/v1

security:
  
  - apiKeyAuth: []

tags:

  - name: Product Video Generation

    description: |-

      Product video generation workflow:

        1. First call POST /open/product to crawl product information

        2. Optionally call PUT /open/product to modify product details using the product_id from step 1

        3. Finally call POST /open/project/render to generate video using the product_id from step 1

paths:

  /create_video_with_variable:

    post:

      description: Renders a template with specified variables

      requestBody:

        content:

          application/json:

            schema:

              type: object

              properties:

                text:

                  type: string

                  example: default

                lang:

                  type: string

                  description: Language for text-to-speech conversion

                  enum:

                    - english

                    - filipino

                    - french

                    - german

                    - hindi

                    - indonesian

                    - italian

                    - japanese

                    - korean

                    - malay

                    - portuguese

                    - russian

                    - spanish

                    - thai

                    - vietnamese

                    - arabic

                    - greek

                    - turkish

                    - slovenian

                    - croatian

                    - romanian

                    - chinese

                    - bengali

                    - urdu

                    - hungarian

                    - traditional-chinese

                    - polish

                  example: english

                template_id:

                  type: integer

                  example: 96

                template_type:

                  type: string

                  example: user

                dp_id:

                  type: integer

                  example: 0

                timbre_td:

                  type: integer

                  example: 0

                without_tts:

                  type: integer

                  example: 1

                variables:

                  type: array

                  items:

                    type: object

                    properties:

                      name:

                        type: string

                      type:

                        type: string

                      properties:

                        type: object

                        additionalProperties: true

              required:

                - text

                - lang

                - template_id

                - template_type

                - variables

        required: true

      responses:

        '200':

          description: "Success"

          content:

            application/json:

              schema:

                allOf:

                - $ref: '#/components/schemas/BaseResponse'

                - type: object

                  properties:

                    data:

                      type: object

                      properties:

                        project_id:

                          type: integer

                          description: "Created project ID"

  /upload/sign:

    post:

      tags:

      - Upload

      summary: Get Signed URL

      description: Generate a signed URL for file upload. Use the `sign_url` obtained here to upload your file.

      requestBody:

        description: Data required for file upload

        content:

          application/json:

            schema:

              type: object

              properties:

                filetype:

                  type: string

                  example: image/jpeg

                filename:

                  type: string

                  example: 1.jpg

                use_to:

                  type: string

                  example: media

              required:

                - filetype

                - filename

                - use_to

        required: true

      responses:

        '200':

          description: "Success"

          content:

            application/json:

              schema:

                allOf:

                - $ref: '#/components/schemas/BaseResponse'

                - type: object

                  properties:

                      data:

                        type: object

                        properties:  

                          sign_url:

                            type: string

                            description: Use the sign_url to upload your file with a PUT request, including the file data in the request body. This is a direct upload to the signed URL.

                          full_path:

                            type: string

                            description: URL after file upload

                          key:

                            type: string

                            description: Relative path after file upload

  /project:

    get:

      tags:

      - Get video

      summary: Get Project Information

      description: Get information about a specific project using its ID.

      parameters:

        - name: project_id

          in: query

          required: true

          schema:

            type: string

          description: The ID of the project to retrieve information for.

      responses:

        '200':

          description: "Success"

          content:

            application/json:

              schema:

                allOf:

                - $ref: '#/components/schemas/BaseResponse'

                - type: object

                  properties:

                    data:

                      type: object

                      properties:

                        id:

                          type: string

                          description: Project ID

                        title:

                          type: string

                          description: Project title

                        status_desc:

                          type: string

                          description: Description of current progress

                        status:

                          type: integer

                          description: Current status

                        video_duration:

                          type: integer

                          description: Video duration in seconds

                        video_url:

                          type: string

                          description: URL to the video output

                        cover_url:

                          type: string

                          description: URL to the cover image

                        created_at:

                          type: integer

                          description: Creation timestamp

  /create_video_from_talking_avatar:

    post:

      tags:

      - Avatar

      summary: Create Talking Avatar Video

      description: Creates a talking avatar video with specified parameters

      requestBody:

        content:

          application/json:

            schema:

              type: object

              properties:

                script:

                  type: string

                  description: Script content for the avatar to speak. Must provide either script or audio_url

                  example: Hi, welcome to JoggAI and create longer videos with Talking Avatars in minutes!

                audio_script:

                  type: object

                  description: Audio script details, mutually exclusive with script

                  required:

                    - url

                    - duration

                  properties:

                    url:

                      type: string

                      description: Audio file URL

                    duration:

                      type: number

                      format: float

                      description: Audio duration in seconds

                aspect_ratio:

                  type: integer

                  description: 'Aspect ratio of the output video. 0: [9:16], 1: [16:9], 2: [1:1]'

                  enum:

                    - 0

                    - 1

                    - 2

                  example: 0

                screen_style:

                  type: integer

                  description: 'Background style. 1: with background, 2: green screen'

                  enum:

                    - 1

                    - 2

                  example: 1

                avatar_id:

                  type: integer

                  description: ID of the avatar person to use

                  example: 81

                avatar_source:

                  type: integer

                  description: 'Source type of the person. 0: official avatar, 1: custom user avatar'

                  enum:

                    - 0

                    - 1

                  example: 0

                voice_id:

                  type: string

                  description: ID of the text-to-speech voice to use

                  example: en-US-ChristopherNeural

                caption:

                  type: boolean

                  description: 'Subtitle option. true: enable subtitles, false: disable subtitles'

                  enum:

                    - true

                    - false

              required:

                - screen_style

                - avatar_id

                - voice_id

        required: true

      responses:

        '200':

          description: "Success"

          content:

            application/json:

              schema:

                allOf:

                - $ref: '#/components/schemas/BaseResponse'

                - type: object

                  properties:

                    data:

                      type: object

                      properties:

                        project_id:

                          type: integer

                          description: "Created project ID"

  /avatar:

    get:

      tags:

      - Avatar

      summary: Get Avatar List

      description: Retrieve a list of available avatars with specified filters

      parameters:

      - $ref: '#/components/parameters/AspectRatioParam'

      responses:

        '200':

          description: Success

          content:

            application/json:

              schema:

                allOf:

                - $ref: '#/components/schemas/BaseResponse'

                - type: object

                  properties:

                    data:

                      type: object

                      properties:

                        avatars:

                          type: array

                          items:

                            type: object

                            properties:

                              id:

                                type: integer

                                description: Avatar ID

                                example: 81

                              name:

                                type: string

                                description: Avatar name

                                example: Amanda outdoors

                              cover_url:

                                type: string

                                description: URL of the cover image

                                example: https://res.chanjing.cc/chanjing/dp/output/2024-05-23/f178cf5273dd9cbd506f27426966c1ae501cae27-cover.png

  /avatar/user:

    get:

      tags:

        - Avatar

      summary: Get User Avatar List

      description: Retrieve a list of user's available avatar with specified filters

      parameters:

      - $ref: '#/components/parameters/AspectRatioParam'

      responses:

        '200':

          description: Success

          content:

            application/json:

              schema:

                allOf:

                - $ref: '#/components/schemas/BaseResponse'

                - type: object

                  properties:

                    data:

                      type: object

                      properties:

                        avatars:

                          type: array

                          items:

                            type: object

                            properties:

                              id:

                                type: integer

                                description: Avatar ID

                                example: 81

                              name:

                                type: string

                                description: Avatar name

                                example: Amanda outdoors

                              cover_url:

                                type: string

                                description: URL of the cover image

                                example: https://res.chanjing.cc/chanjing/dp/output/2024-05-23/f178cf5273dd9cbd506f27426966c1ae501cae27-cover.png

                              api_only:

                                type: boolean

                                description: Whether avatar is only available via API

                              product_status:

                                type: integer

                                description: 'Production status: 0:in progress, 1:success, 2:failed'

                                enum:

                                  - 0

                                  - 1

                                  - 2

                              fail_msg:

                                type: string

                                description: Failure message when product_status is 2

  /voice:

    get:

      tags:

      - Voice

      summary: Get Timbre List

      description: Retrieve a list of available voice timbres with specified gender filter

      parameters:

        - name: gender

          in: query

          description: Filter timbres by gender (female/male)

          required: false

          schema:

            type: string

            enum:

              - female

              - male

        - name: language

          in: query

          description: |

            Filter timbres by language:

            * english - English

            * filipino - Filipino

            * french - French  

            * german - German

            * hindi - Hindi

            * indonesian - Indonesian

            * italian - Italian

            * japanese - Japanese

            * korean - Korean

            * malay - Malay

            * portuguese - Portuguese

            * russian - Russian

            * spanish - Spanish

            * thai - Thai

            * vietnamese - Vietnamese

            * arabic - Arabic

            * greek - Greek

            * turkish - Turkish

            * slovenian - Slovenian

            * croatian - Croatian

            * romanian - Romanian

            * chinese - Simplified Chinese

            * bengali - Bengali

            * urdu - Urdu

            * hungarian - Hungarian

            * traditional-chinese - Traditional Chinese

            * polish - Polish

            * cantonese - Cantonese

            * danish - Danish

            * malayalam - Malayalam

            * tamil - Tamil

            * telugu - Telugu

            * czech - Czech

            * hebrew - Hebrew

            * zulu - Zulu

            * swedish - Swedish

            * lithuanian - Lithuanian

            * dutch - Dutch

            * flemish - Flemish

            * norwegian - Norwegian

            * finnish - Finnish

            * bulgarian - Bulgarian

            * latvian - Latvian

            * ukrainian - Ukrainian

            * mongolian - Mongolian

            * persian - Persian

            * odia - Odia

            * assamese - Assamese

            * kannada - Kannada

            * tagalog - Tagalog

            * amharic - Amharic

            * serbian - Serbian

            * slovak - Slovak

            * swahili - Swahili

          required: false

          schema:

            type: string

            enum:

              - english

              - filipino

              - french

              - german

              - hindi

              - indonesian

              - italian

              - japanese

              - korean

              - malay

              - portuguese

              - russian

              - spanish

              - thai

              - vietnamese

              - arabic

              - greek

              - turkish

              - slovenian

              - croatian

              - romanian

              - chinese

              - bengali

              - urdu

              - hungarian

              - traditional-chinese

              - polish

              - cantonese

              - danish

              - malayalam

              - tamil

              - telugu

              - czech

              - hebrew

              - zulu

              - swedish

              - lithuanian

              - dutch

              - flemish

              - norwegian

              - finnish

              - bulgarian

              - latvian

              - ukrainian

              - mongolian

              - persian

              - odia

              - assamese

              - kannada

              - tagalog

              - amharic

              - serbian

              - slovak

              - swahili

      responses:

        '200':

          description: Success

          content:

            application/json:

              schema:

                allOf:

                - $ref: '#/components/schemas/BaseResponse'

                - type: object

                  properties:

                    data:

                      type: object

                      properties:

                        total:

                          type: integer

                          description: Total number of timbres

                          example: 10

                        voices:

                          type: array

                          items:

                            type: object

                            properties:

                              name:

                                type: string

                                description: Timbre name

                                example: Emily

                              voice_id:

                                type: string

                                description: Language identifier

                                example: 8xUNyTgckMBsX4jn4Lxf

                              audition_url:

                                type: string

                                description: URL for the audition audio file

                                example: https://jogg-test.cds8.cn/jogg/2024-08-05/3020cde64e75c1a3a232ec325e3d1790.mp3

                              language:

                                type: string

                                description: Language of the voice timbre

                                example: english

  /voice/user:

    get:

      tags:

      - Voice

      summary: Get User Timbre List

      description: Retrieve a list of user's available voice timbres with specified gender filter

      parameters:

        - name: language

          in: query

          description: |

            Filter timbres by language:

            * english - English

            * filipino - Filipino

            * french - French  

            * german - German

            * hindi - Hindi

            * indonesian - Indonesian

            * italian - Italian

            * japanese - Japanese

            * korean - Korean

            * malay - Malay

            * portuguese - Portuguese

            * russian - Russian

            * spanish - Spanish

            * thai - Thai

            * vietnamese - Vietnamese

            * arabic - Arabic

            * greek - Greek

            * turkish - Turkish

            * slovenian - Slovenian

            * croatian - Croatian

            * romanian - Romanian

            * chinese - Simplified Chinese

            * bengali - Bengali

            * urdu - Urdu

            * hungarian - Hungarian

            * traditional-chinese - Traditional Chinese

            * polish - Polish

            * cantonese - Cantonese

            * danish - Danish

            * malayalam - Malayalam

            * tamil - Tamil

            * telugu - Telugu

            * czech - Czech

            * hebrew - Hebrew

            * zulu - Zulu

            * swedish - Swedish

            * lithuanian - Lithuanian

            * dutch - Dutch

            * flemish - Flemish

            * norwegian - Norwegian

            * finnish - Finnish

            * bulgarian - Bulgarian

            * latvian - Latvian

            * ukrainian - Ukrainian

            * mongolian - Mongolian

            * persian - Persian

            * odia - Odia

            * assamese - Assamese

            * kannada - Kannada

            * tagalog - Tagalog

            * amharic - Amharic

            * serbian - Serbian

            * slovak - Slovak

            * swahili - Swahili

          required: false

          schema:

            type: string

            enum:

              - english

              - filipino

              - french

              - german

              - hindi

              - indonesian

              - italian

              - japanese

              - korean

              - malay

              - portuguese

              - russian

              - spanish

              - thai

              - vietnamese

              - arabic

              - greek

              - turkish

              - slovenian

              - croatian

              - romanian

              - chinese

              - bengali

              - urdu

              - hungarian

              - traditional-chinese

              - polish

              - cantonese

              - danish

              - malayalam

              - tamil

              - telugu

              - czech

              - hebrew

              - zulu

              - swedish

              - lithuanian

              - dutch

              - flemish

              - norwegian

              - finnish

              - bulgarian

              - latvian

              - ukrainian

              - mongolian

              - persian

              - odia

              - assamese

              - kannada

              - tagalog

              - amharic

              - serbian

              - slovak

              - swahili

      responses:

        '200':

          description: Success

          content:

            application/json:

              schema:

                allOf:

                - $ref: '#/components/schemas/BaseResponse'

                - type: object

                  properties:

                    data:

                      type: object

                      properties:

                        total:

                          type: integer

                          description: Total number of timbres

                          example: 14

                        voices:

                          type: array

                          items:

                            type: object

                            properties:

                              name:

                                type: string

                                description: Timbre name

                                example: Emily

                              voice_id:

                                type: string

                                description: Language identifier

                                example: 8xUNyTgckMBsX4jn4Lxf

                              audition_url:

                                type: string

                                description: URL for the audition audio file

                                example: https://jogg-test.cds8.cn/jogg/2024-08-05/3020cde64e75c1a3a232ec325e3d1790.mp3

                              language:

                                type: string

                                description: Language of the voice timbre

                                example: english

  /product:

    post:

      tags:

        - Product Video Generation

      summary: 'Step 1: Get Product Information'

      description: |-

        Get product information by crawling the provided URL. The response contains two important IDs:

        - product_id: Used in Step 2 & Step 3 for updating product information and creating the video.

      requestBody:

        required: true

        content:

          application/json:

            schema:

              type: object

              properties:

                url:

                  type: string

                  description: URL of the product to crawl

                  example: https://www.amazon.com/product-url

              required:

                - url

      responses:

        '200':

          description: "Success"

          content:

            application/json:

              schema:

                allOf:

                - $ref: '#/components/schemas/BaseResponse'

                - type: object

                  properties:

                    data:

                      type: object

                      properties:

                        product_id:

                          type: string

                          description: Product ID - Save this for Step 2 (PUT /open/product) if you need to update product information & Step 3 (POST /create_video_from_url) need to use product_id.

                          example: NTQ0MTkzNjg

                        url:

                          type: string

                          description: URL of the product to crawl

                          example: https://www.amazon.com/product-url

                        name:

                          type: string

                          description: Product name

                          example: 'Physicians Formula Happy Booster Heart Blush Glow &amp;amp; Mood Boosting, Rose, Dermatologist Tested'

                        description:

                          type: string

                          description: Product introduction and selling points

                          example: 'Brush on a radiant blushing glow: Ultra-soft and blendable blushing powder features a fresh and vibrant mix of blushing tones infused with a pop of color to create a healthy glow. Multi-reflective pearls provide a soft iridescence to highlight contour and add radiance to cheeks. Experience the mood boosting effect: Infused with our Happy Boost Blend featuring Happy Skin and Euphoryl, natural plant extracts which have been shown to promote a feeling of happiness by mimicking the effect of Endorphins and helping protect the skin from environmental stress. '

                        target_audience:

                          type: string

                          description: Target audience for the product

                          example: ''

                        media:

                          type: array

                          description: Media resources array (will replace existing media if provided)

                          items:

                            type: object

                            properties:

                              replace_key:

                                type: string

                                description: Replacement key for the media

                              type:

                                type: integer

                                description: 'Media type (1: image, 2: video)'

                                enum:

                                  - 1

                                  - 2

                              name:

                                type: string

                                description: Media name

                              url:

                                type: string

                                description: Media URL

                              preview_url:

                                type: string

                                description: Preview URL

                              w:

                                type: integer

                                description: Media width

                              h:

                                type: integer

                                description: Media height

                              description:

                                type: string

                                description: Media description

                              duration:

                                type: integer

                                description: Media duration (for videos)

                              clip_id:

                                type: integer

                                description: Clip ID

                              clip_info:

                                type: object

                                description: Clip information

                                nullable: true

                              cover_url:

                                type: string

                                description: Cover image URL

                        

    put:

      tags:

        - Product Video Generation

      summary: 'Step 2 (Optional): Update Product Information'

      description: Optional step to update product details. Use the product_id received from Step 1 (POST /open/product response)

      requestBody:

        required: true

        content:

          application/json:

            schema:

              type: object

              required:

                - product_id

              properties:

                product_id:

                  type: integer

                  description: Product ID obtained from Step 1 (POST /open/product) response data.id

                  example: 3924

                name:

                  type: string

                  description: Product name

                  example: 'Physicians Formula Happy Booster Heart Blush Glow &amp;amp; Mood Boosting, Rose, Dermatologist Tested'

                description:

                  type: string

                  description: Product introduction and selling points

                  example: 'Brush on a radiant blushing glow: Ultra-soft and blendable blushing powder features a fresh and vibrant mix of blushing tones infused with a pop of color to create a healthy glow. Multi-reflective pearls provide a soft iridescence to highlight contour and add radiance to cheeks. Experience the mood boosting effect: Infused with our Happy Boost Blend featuring Happy Skin and Euphoryl, natural plant extracts which have been shown to promote a feeling of happiness by mimicking the effect of Endorphins and helping protect the skin from environmental stress. '

                target_audience:

                  type: string

                  description: Target audience for the product

                  example: ''

                media:

                  type: array

                  description: Media resources array (will replace existing media if provided)

                  items:

                    type: object

                    properties:

                      replace_key:

                        type: string

                        description: Replacement key for the media

                      type:

                        type: integer

                        description: 'Media type (1: image, 2: video)'

                        enum:

                          - 1

                          - 2

                      name:

                        type: string

                        description: Media name

                      url:

                        type: string

                        description: Media URL

                      preview_url:

                        type: string

                        description: Preview URL

                      w:

                        type: integer

                        description: Media width

                      h:

                        type: integer

                        description: Media height

                      description:

                        type: string

                        description: Media description

                      duration:

                        type: integer

                        description: Media duration (for videos)

                      clip_id:

                        type: integer

                        description: Clip ID

                      clip_info:

                        type: object

                        description: Clip information

                        nullable: true

                      cover_url:

                        type: string

                        description: Cover image URL

      responses:

        '200':

          description: Product updated successfully

          content:

            application/json:

              schema:

                allOf:

                - $ref: '#/components/schemas/BaseResponse'

  /create_video_from_url:

    post:

      tags:

        - Product Video Generation

      summary: 'Step 3: Generate Product Video'

      description: Final step to generate the product video. Use the product_id received from Step 1 (POST /product response)

      requestBody:

        content:

          application/json:

            schema:

              type: object

              properties:

                product_id:

                  type: string

                  description: Product ID obtained from Step 1 (POST /product) response data.product_id

                  example: 8xUNyTgckMBsX4jn4Lxf

                aspect_ratio:

                  type: integer

                  description: |

                    Video aspect ratio:

                    * 0 - Portrait [9:16]

                    * 1 - Landscape [16:9]

                    * 2 - Square [1:1]

                  enum: [0, 1, 2]

                  example: 0

                language:

                  type: string

                  description: |

                    Script generation language (defaults to English if not specified):

                    * english - English

                    * filipino - Filipino

                    * french - French

                    * german - German

                    * hindi - Hindi

                    * indonesian - Indonesian

                    * italian - Italian

                    * japanese - Japanese

                    * korean - Korean

                    * malay - Malay

                    * portuguese - Portuguese

                    * russian - Russian

                    * spanish - Spanish

                    * thai - Thai

                    * vietnamese - Vietnamese

                    * arabic - Arabic

                    * greek - Greek

                    * turkish - Turkish

                    * slovenian - Slovenian

                    * croatian - Croatian

                    * romanian - Romanian

                    * chinese - Simplified Chinese

                    * bengali - Bengali

                    * urdu - Urdu

                    * hungarian - Hungarian

                    * traditional-chinese - Traditional Chinese

                    * polish - Polish

                    * cantonese - Cantonese

                    * danish - Danish

                    * malayalam - Malayalam

                    * tamil - Tamil

                    * telugu - Telugu

                    * czech - Czech

                    * hebrew - Hebrew

                    * zulu - Zulu

                    * swedish - Swedish

                    * lithuanian - Lithuanian

                    * dutch - Dutch

                    * flemish - Flemish

                    * norwegian - Norwegian

                    * finnish - Finnish

                    * bulgarian - Bulgarian

                    * latvian - Latvian

                    * ukrainian - Ukrainian

                    * mongolian - Mongolian

                    * persian - Persian

                    * odia - Odia

                    * assamese - Assamese

                    * kannada - Kannada

                    * tagalog - Tagalog

                    * amharic - Amharic

                    * serbian - Serbian

                    * slovak - Slovak

                    * swahili - Swahili

                  enum:

                    - "english"

                    - "filipino"

                    - "french"

                    - "german"

                    - "hindi"

                    - "indonesian"

                    - "italian"

                    - "japanese"

                    - "korean"

                    - "malay"

                    - "portuguese"

                    - "russian"

                    - "spanish"

                    - "thai"

                    - "vietnamese"

                    - "arabic"

                    - "greek"

                    - "turkish"

                    - "slovenian"

                    - "croatian"

                    - "romanian"

                    - "chinese"

                    - "bengali"

                    - "urdu"

                    - "hungarian"

                    - "traditional-chinese"

                    - "polish"

                    - "cantonese"

                    - "danish"

                    - "malayalam"

                    - "tamil"

                    - "telugu"

                    - "czech"

                    - "hebrew"

                    - "zulu"

                    - "swedish"

                    - "lithuanian"

                    - "dutch"

                    - "flemish"

                    - "norwegian"

                    - "finnish"

                    - "bulgarian"

                    - "latvian"

                    - "ukrainian"

                    - "mongolian"

                    - "persian"

                    - "odia"

                    - "assamese"

                    - "kannada"

                    - "tagalog"

                    - "amharic"

                    - "serbian"

                    - "slovak"

                    - "swahili"

                  default: "english"

                  example: "english"

                caption:

                  type: boolean

                  description: |

                    Controls subtitle rendering:

                    * true - Show subtitles

                    * false - Hide subtitles

                  example: true

                avatar_id:

                  type: integer

                  description: |

                    Avatar id from Jogg Avatar or User Avatar.

                  example: 1

                avatar_source:

                  type: string 

                  description: |

                    Avatar source type:

                    * 0 - Official avatars

                    * 1 - User customized avatars

                  enum:

                    - 0

                    - 1

                  example: 0

                visual_style:

                  type: string

                  description: |

                    Visual style of the video from visual list(GET /visual)

                  example: "Simple split screen template"

                script_style:

                  type: string

                  description: |

                    Script writing style for video content:

                    * Don't Worry - Casual and reassuring tone

                    * Storytime - Narrative and engaging storytelling approach

                    * Discovery - Exploratory and revealing style

                    * Data - Fact-based and analytical presentation

                    * Top 3 reasons - List-based persuasive format

                    * Light marketing - Soft-sell marketing approach

                  enum:

                    - "Don't Worry"

                    - "Storytime"

                    - "Discovery"

                    - "Data"

                    - "Top 3 reasons"

                    - "Light marketing"

                  example: "Storytime"

                template_type:

                  type: string

                  description: | 

                    Template source type:

                    * common - Template from template library

                    * user - Template from custom templates

                  example: common

                  enum:

                    - common

                    - user

                template_id:

                  type: integer

                  description: Template ID from template library or custom template

                  example: 0

                video_length:

                  type: string

                  description: Video Length.

                  example: "15"

                  enum:

                    - "15"

                    - "30"

                    - "60"

              required:

                - product_id

                - aspect_ratio

                - language

                - avatar_id

                - template_type

                - script_style

                - video_length

      responses:

        '200':

          description: "Success"

          content:

            application/json:

              schema:

                allOf:

                - $ref: '#/components/schemas/BaseResponse'

                - type: object

                  properties:

                    data:

                      type: object

                      properties:

                        project_id:

                          type: integer

                          description: "Created project ID"



  /avatar/create:

    post:

      tags:

        - Avatar

      summary: "Create an instant avatar"

      requestBody:

        required: true

        content:

          application/json:

            schema:

              type: object

              required:

                - origin_url

                - name

              properties:

                origin_url:

                  type: string

                  description: "Instant avatar URL"

                name:

                  type: string

                  description: "Instant avatar name"

      responses:

        '200':

          description: "Success"

          content:

            application/json:

              schema:

                allOf:

                - $ref: '#/components/schemas/BaseResponse'

                - type: object

                  properties:

                    data:

                      type: object

                      properties:

                        id:

                          type: integer

                          description: "Created instant avatar ID"

  /avatar/user/delete:

    delete:

      tags:

        - Avatar

      summary: "Delete an instant avatar"

      parameters:

        - name: avatar_id

          in: query

          required: true

          description: "Avatar ID to delete"

          schema:

            type: integer

      responses:

        '200':

          description: "Success"

          content:

            application/json:

              schema:

                allOf:

                - $ref: '#/components/schemas/BaseResponse'

  /visual:

    get:

      tags:

        - Template

      summary: Get Visual Style

      description: Get list of Visual Style

      parameters:

        - $ref: '#/components/parameters/PageParam'

        - $ref: '#/components/parameters/PageSizeParam'

        - $ref: '#/components/parameters/AspectRatioParam'

      responses:

        '200':

          description: "Success"

          content:

            application/json:

              schema:

                allOf:

                  - $ref: '#/components/schemas/BaseResponse'

                  - type: object

                    properties:

                      data:

                        type: object

                        properties:

                          pageInfo:

                            $ref: '#/components/schemas/PageInfo'

                          data:

                            type: array

                            items:

                              type: object

                              properties:

                                id:

                                  type: integer

                                name:

                                  type: string

  /template:

    get:

      tags:

        - Template

      summary: Get templates

      description: Get list of templates

      parameters:

        - $ref: '#/components/parameters/PageParam'

        - $ref: '#/components/parameters/PageSizeParam'

        - $ref: '#/components/parameters/AspectRatioParam'

      responses:

        '200':

          description: "Success"

          content:

            application/json:

              schema:

                allOf:

                  - $ref: '#/components/schemas/BaseResponse'

                  - type: object

                    properties:

                      data:

                        type: object

                        properties:

                          pageInfo:

                            $ref: '#/components/schemas/PageInfo'

                          data:

                            type: array

                            items:

                              type: object

                              properties:

                                id:

                                  type: integer

                                name:

                                  type: string

                                cover_url:

                                  type: string

                                preview_url:

                                  type: string

  /template/user:

    get:

      tags:

        - Template  

      summary: Get user templates

      description: Get list of your custom templates

      parameters:

        - $ref: '#/components/parameters/PageParam'

        - $ref: '#/components/parameters/PageSizeParam'

        - $ref: '#/components/parameters/AspectRatioParam'

      responses:

        '200':

          description: "Success"

          content:

            application/json:

              schema:

                allOf:

                  - $ref: '#/components/schemas/BaseResponse'

                  - type: object

                    properties:

                      data:

                        type: object

                        properties:

                          pageInfo:

                            $ref: '#/components/schemas/PageInfo'

                          data:

                            type: array

                            items:

                              type: object

                              properties:

                                id:

                                  type: integer

                                name:

                                  type: string

                                cover_url:

                                  type: string

components:

  parameters:

    PageParam:

      name: page

      in: query

      description: Page number

      required: false

      schema:

        type: integer

        minimum: 1

        default: 1



    PageSizeParam:

      name: page_size

      in: query

      description: Page size

      required: false

      schema:

        type: integer

        minimum: 1

        maximum: 100

        default: 20



    AspectRatioParam:

      name: aspect_ratio

      in: query

      description: |

        Screen aspect ratio:

        * -1 - All

        * 0 - [9:16]

        * 1 - [16:9]

        * 2 - [1:1]

      required: false

      schema:

        type: integer

        enum: [-1, 0, 1, 2]

        default: -1

  schemas:

    Error:

      required:

        - code

        - msg

      type: object

      properties:

        code:

          type: integer

          format: int32

        msg:

          type: string

    BaseResponse:

      type: object

      required:

        - code

        - msg

      properties:

        code:

          type: integer

          description: |

            Business status code:

            * 0 - Success

            * 10104 - Record not found

            * 10105 - Invalid API key

            * 18020 - Insufficient credit

            * 40000 - Parameter error

            * 50000 - System error

        msg:

          type: string

          description: Response message

    # 分页基础结构

    PageInfo:

      type: object

      properties:

        total_count:

          type: integer

          description: "Total number of items"

        total_page:

          type: integer

          description: "Total number of pages"



  securitySchemes:

    apiKeyAuth:

      type: apiKey

      in: header

      name: x-api-key

